// colors
$primary-color: #0289D1;
$color-white: #fff;
$color-bg: #1F1F1F;
$color-white2: #B0B0B0;
$bg-blue: #0089D1;
$color-text: #B0B0B0;

// paddings
$padding-4: 4px;
$padding-8: 8px;
$padding-12: 12px;
$padding-16: 16px;
$padding-20: 20px;
$padding-24: 24px;
$padding-32: 32px;
$padding-42: 42px;
$default-padding: 55px;

// margin
$margin-4: 4px;
$margin-8: 8px;
$margin-12: 12px;
$margin-16: 16px;
$margin-20: 20px;

// font

$inter: 'Inter', sans-serif;