.FilterHeader {
  border-bottom: 1px solid var(--border--normal);
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 14px 20px;
  display: flex;
}
.filterHeaderText {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.FilterMain {
  padding: 14px 20px;
}
.cssFilter {
  z-index: 5;
  border-right: 1px solid rgba(18, 42, 105, 0.08);
  width: 280px;
  min-width: 280px;
}

.ComponentLists {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-wrap: wrap;
  display: flex;
}
