/* .cardCoverSec {
  background-color: black;
} */
.cardFigmaui {
  border-radius: 8px;
  /* box-shadow: 3px 3px 10px black; */
  background-color: #eee;
  border: 1px solid #e6e8ec;
  padding: 0px;
  gap: 0;
}
.cardCoverSec {
  overflow-y: hidden;
  justify-content: center;
  max-height: 450px;
  min-height: 150px;
  padding: 14px 14px 0px 14px;
  text-align: center;
}
.FigmaCardImage {
  align-self: flex-start;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.cardFigmaui :hover.FigmaCardImage {
  transform: scale(1.02);
}
.cardButton {
  font-weight: 400 !important;
}

.css-s62xdh-JoyButton-root {
  font-weight: 400 !important;
}
